.artistWrapper {
  text-align: center;
  width: 100%;
  margin-bottom: 150px;

  .artistTitle {
    font-size: 3rem;
    line-height: 3rem;
    text-decoration: underline;
    text-shadow: -10px -12px 7px rgba(255, 255, 255, 0.5);
  }

  .fullArtist {
    height: 31.6rem;
    display: flex;
    justify-content: space-between;

    .halfArtist {
      width: 48%;
      height: 100%;
      position: relative;

      img {
        max-width: 8.75rem;
        max-height: 8.75rem;
      }
      .photo1 {
        position: absolute;
        top: 0;
        left: 0;
      }
      .photo2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .photo3 {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .artistText {
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: left;
        width: 30rem;
        margin: 0 0 5.5rem;
      }
    }
  }
}
