.artistWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .artistTitle {
    margin-top: 7.5rem;
  }

  .fullArtist {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .halfArtist {
      width: 48%;
      height: 45rem;
      position: relative;

      display: flex;
      align-items: center;

      img {
        width: 15rem;
        height: 15rem;
        position: absolute;
      }
      .photo1 {
        top: 0;
        left: 0;
      }
      .photo2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .photo3 {
        right: 0;
        bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1499px) {
  //   img {
  //     margin-left: 20vh;
  //     margin-top: 10vh;
  //     width: 11rem;
  //     height: 11rem;
  //     position: absolute;
  //   }
  //   .photo1 {
  //     top: 0;
  //     left: 0;
  //   }
  //   .photo2 {
  //     top: 25%;
  //     left: 0;
  //   }
  //   .photo3 {
  //     left: 0;
  //     top: 50%;
  //   }
}
@media only screen and (max-width: 1000px) {
  .artistWrapper {
    height: 750px;
  }
}
