.roadMapSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .roadMapTitle {
  }

  .textsWrapper {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;

    div {
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
      &:not(:last-child) {
        ul {
          padding-right: 0.625rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .styles_roadMapSection__FsQlJ {
    height: 56rem;
  }
  .styles_faqSection__He_pk .styles_faqTitle__URs_j {
    margin-top: -10vh;
    text-align: center;
    margin-bottom: 140px;
  }
  @media only screen and (max-width: 1000px) {
    .textsWrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
