@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

:root {
  --bgc: black;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Aldrich";
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1200px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  :root {
    font-size: 6px;
  }
}
@media (max-width: 400px) {
  :root {
    font-size: 5px;
  }
}
