.networkSection {
  width: 100%;
  // height: 1095px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .networkTitle {
    margin-bottom: 7rem;
  }
  div {
    padding: 0 6.875rem 0 6.25rem;
  }
  @media only screen and (max-width: 600px) {
    .networkSection {
      height: 400px;
    }
  }
}
